{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card" style="width: 55em;margin:0 auto;">
    <div class="card-header">
        <h1>Add New Quiz</h1>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <h5>Fields marked * are required. Text in the "Message" field will be shown to respondents upon submission.</h5>
            <br>
            {{ form|crispy }}
            <br>
            <h4>Add desired number of questions</h4>
            <h5>Notes are for your own use and will not be visible to respondents</h5>
            <br>
            {{ question_formset|crispy }}
            <input type="submit" value="Save" />
        </form>
    </div>
</div>
<br>

{% endblock content %}