{% extends 'base.html' %}

{% block title %}Quizzes{% endblock title %}

{% block content %}
{% for quiz in object_list %}
<div class="card">
    <div class="card-header">
        <h2><a href="{% url 'quizreview' quiz.pk %}">{{ quiz.title }}</a></h2>
        <p>{{ quiz.date_created }}</p>
        <h4>Directions and introductory text:</h4>
        <p>{{ quiz.directions_and_introductory_text|truncatewords:50 }}</p>
        <h4>Primary source text:</h4>
        <p>{{ quiz.primary_source_text|truncatewords:50 }}</p>
        <p><a href="{% url 'quiztake' quiz.pk %}">Link to take quiz</a></p>
        <p>{% url 'quiztake' quiz.pk %}</p>
        {% if quiz.quizresponse_set.count == 1 %}
            <p><a href="{% url 'quizresponses' quiz.pk %}">View 1 response</a></p>
        {% elif quiz.quizresponse_set.count == 0 %}
            <p>No responses have been submitted yet.</p>
        {% else %}
            <p><a href="{% url 'quizresponses' quiz.pk %}">View {{ quiz.quizresponse_set.count }} responses</a></p>
        {% endif %}
    </div>
    <div class="card-footer text-center text-muted">
        <a href="#">Edit</a> | <a href="{% url 'quizdelete' quiz.pk %}">Delete</a> | <a href="#">Copy</a>
    </div>
</div>
<br />
{% endfor %}
{% endblock content %}