{% extends 'base.html' %}

{% block content %}
    <h1>Delete quiz</h1>
    <form action="" method="post">{% csrf_token %}
        <h2>Are you sure you want to delete "<a href="{% url 'quizreview' quiz.pk %}">{{ quiz.title }}</a>"?</h2>
        {% if quiz.quizresponse_set.count == 0 %}
            <h3>No responses have been submitted yet.</h3>
        {% elif quiz.quizresponse_set.count == 1 %}
            <h3>This will also delete <a href="{% url 'quizresponses' quiz.pk %}">1 response</a>.</h3>
        {% else %}
            <h3>This will also delete <a href="{% url 'quizresponses' quiz.pk %}">{{ quiz.quizresponse_set.count }} responses</a>.</h3>
        {% endif %}
        <h4>More details</h4>
        <p>Last updated: {{ quiz.date_created }}</p>
        <p>Number of questions: {{ quiz.question_set.count }}</p>
        <input type="submit" value="Confirm Deletion" />
        <p>This action cannot be undone.</p>
    </form>
{% endblock content %}