{% extends 'base.html' %}

{% block title %}
{{ quiz.title }}
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2><a href="{% url 'quizreview' quiz.pk %}">{{ quiz.title }}</a></h2>
        <p><a href="{% url 'quizrespondents' quiz.pk %}">View by respondent instead</a></p>
        <h3>Date created:</h3>
        <p>{{ quiz.date_created }}</p>
        <h3>Directions and introductory text:</h3>
        <p>{{ quiz.directions_and_introductory_text }}</p>
        <h3>Primary source text:</h3>
        <p>{{ quiz.primary_source_text }}</p>
    </div>
    <div>
        <h3>Number of questions: {{ quiz.question_set.count }}</h3>
        <h3>Number of responses: {{ quiz.quizresponse_set.count }}</h3>

        {% for question in quiz.question_set.all %}
            <h3>Question {{ forloop.counter }}</h3>
            <h4>Question text:</h4>
            <p>{{ question.question_text }}</p>
            <h4>Notes for question:</h4>
            <p>{{ question.notes_for_question }}</p>
            <h4>Responses:</h4>
            <ol>
                {% for questionresponse in question.questionresponse_set.all %}
                <li>{{ questionresponse.quiz_response.respondent.name }} | {{ questionresponse.quiz_response.respondent.id_number }} | {{ questionresponse.quiz_response.attempt_date }} <br>
                    {{ questionresponse.response_text }}</li><br>
                {% endfor %}
            </ol>
        {% endfor %}
    </div>

    


{% endblock content %}