{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block nav %}
<h1 class="card-title"><a href="{% url 'home' %}">Quiz App</a></h1>
    {% if user.is_authenticated %}
        <div class="card-text">
            <p>Hi {{ user.username }}! | <a href="{% url 'dashboard' %}">View your quizzes</a> | <a href="{% url 'createnew' %}">+ New quiz</a> | <a href="{% url 'logout' %}">Log out</a></p>
        </div>
    {% endif %} 
{% endblock nav %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="card" style="width: 55em;margin:0 auto;">
            <div class="card-body text-center">
                <h4>Note! Responses will not be associated with your account or username</h4>
    {% endif %}
    {% if quiz.author == request.user and request.user.is_authenticated %}
        {% if quiz.quizresponse_set.count == 0 %}
            <h5>There are no responses yet | <a href="{% url 'quizreview' quiz.pk %}">Review this quiz</a></h5>
        {% elif quiz.quizresponse_set.count == 1 %}
            <h5><a href="{% url 'quizresponses' quiz.pk %}">View 1 response</a> | <a href="{% url 'quizreview' quiz.pk %}">Review this quiz</a></h5>
        {% else %}
            <h5><a href="{% url 'quizresponses' quiz.pk %}">View {{ quiz.quizresponse_set.count }} responses</a> | <a href="{% url 'quizreview' quiz.pk %}">Review this quiz</a></h5>
        {% endif %}
            </div>
        </div>
    <br>
    {% else %}
            </div>
        </div>
    <br>
    {% endif %}
<div class="card" style="width: 55em;margin:0 auto;">
    <div class="card-header">
        <h1>{{ quiz.title }}</h1>
    </div>
    <div class="card-body">
        <h3>Directions and introductory text</h3>
        <p>{{ quiz.directions_and_introductory_text }}</p>
        <h3>Primary source text</h3>
        <p>{{ quiz.primary_source_text }}</p>
    </div>
</div>
<br>
<div class="card" style="width: 55em;margin:0 auto;">
    <div class="card-body">
        <form action="{% url 'quiztake' quiz_id=quiz.id %}" method="post">
            {% csrf_token %}
            <h3>Your information</h3>
            {{ quiz_response_form|crispy }}
    </div>
</div>
<br>
<div class="card" style="width: 55em;margin:0 auto;">
    <div class="card-body">
            {{ question_response_formset.management_form }}
            {% for form, question in questions_and_responses %}
                <h3>Question {{ forloop.counter }}</h3>
                <h4>{{ question.question_text }}</h4>
                {{ form|crispy }}
            {% endfor %}
            <input type="submit" value="Save" />
        </form>
    </div>
</div>
<br>
{% endblock content %}